@font-face {
    font-family: 'GibsonLightRegular';
    src: url('Gibson-Light-webfont.eot');
    src: url('Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-Light-webfont.woff') format('woff'),
         url('Gibson-Light-webfont.ttf') format('truetype'),
         url('Gibson-Light-webfont.svg#GibsonLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonLightItalic';
    src: url('Gibson-LightItalic-webfont.eot');
    src: url('Gibson-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-LightItalic-webfont.woff') format('woff'),
         url('Gibson-LightItalic-webfont.ttf') format('truetype'),
         url('Gibson-LightItalic-webfont.svg#GibsonLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonRegular';
    src: url('Gibson-Regular-webfont.eot');
    src: url('Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-Regular-webfont.woff') format('woff'),
         url('Gibson-Regular-webfont.ttf') format('truetype'),
         url('Gibson-Regular-webfont.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonBold';
    src: url('Gibson-Bold-webfont.eot');
    src: url('Gibson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-Bold-webfont.woff') format('woff'),
         url('Gibson-Bold-webfont.ttf') format('truetype'),
         url('Gibson-Bold-webfont.svg#GibsonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonBoldItalic';
    src: url('Gibson-BoldItalic-webfont.eot');
    src: url('Gibson-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Gibson-BoldItalic-webfont.woff') format('woff'),
         url('Gibson-BoldItalic-webfont.ttf') format('truetype'),
         url('Gibson-BoldItalic-webfont.svg#GibsonBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}