@import "general_foundicons";
@import "general_foundicons_ie7";

@font-face {
    font-family: 'GibsonLightRegular';
    src: url('/fonts/Gibson-Light-webfont.eot');
    src: url('/fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Light-webfont.woff') format('woff'),
         url('/fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Light-webfont.svg#GibsonLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonLightItalic';
    src: url('/fonts/Gibson-LightItalic-webfont.eot');
    src: url('/fonts/Gibson-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-LightItalic-webfont.woff') format('woff'),
         url('/fonts/Gibson-LightItalic-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-LightItalic-webfont.svg#GibsonLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonRegular';
    src: url('/fonts/Gibson-Regular-webfont.eot');
    src: url('/fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('/fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Regular-webfont.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonLightBold';
    src: url('/fonts/Gibson-SemiBold-webfont.eot');
    src: url('/fonts/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-SemiBold-webfont.woff') format('woff'),
         url('/fonts/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-SemiBold-webfont.svg#GibsonLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonBold';
    src: url('/fonts/Gibson-Bold-webfont.eot');
    src: url('/fonts/Gibson-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Bold-webfont.woff') format('woff'),
         url('/fonts/Gibson-Bold-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Bold-webfont.svg#GibsonBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GibsonBoldItalic';
    src: url('/fonts/Gibson-BoldItalic-webfont.eot');
    src: url('/fonts/Gibson-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Gibson-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-BoldItalic-webfont.svg#GibsonBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}